


#dougnhut > canvas {
  margin: auto;
}
.card-body {
  margin: auto;
}


/* CUSTOM USER SELECT ROLE  */
.custom-select {
   border-radius: 0.375rem;
   border: 1px solid #ced4da
  }
/* CUSTOM TIMER COUNTER  */
.custom-counter {
    position: absolute;
    top: 45%;
    left: 40%;
    font-weight: bold;
  }

  .custom-counter-message {
    position: absolute;
    top: 45%;
    left: 30%;
    font-weight: bold;
  }


  /* GENERAL TABLE STYLE  */

  tbody, td, tfoot, th, thead, tr {
    text-align: center;
    vertical-align: middle;
  }